<!DOCTYPE html>
<html>
<head>
  <title>Marko + Vite</title>
</head>
<body>
<h1>Count 'em up!</h1>
<div>
    <counter/>
    <counter/>
    <counter/>
    <counter/>
    <counter/>
</div>
<div>
    <a href="/">Back to home</a>
</div>
</body>
</html>