<!DOCTYPE html>
<html>
<head>
  <title>Marko + Vite</title>
</head>
<body>
<h1>See you later world!</h1>
<div>
    <div>
        Bye Bye!
    </div>
    👋
</div>
<div>
    <a href="/">Hello Again!</a>
</div>
</body>
</html>