<!DOCTYPE html>
<html>
<head>
  <title>Marko + Vite</title>
</head>
<body>
<h1>Hello World!</h1>
<div>
    <a href="/goodbye">Goodbye!</a>
</div>
<div>
    <a href="/counters">Count!</a>
</div>
</body>
</html>